<footer th:fragment="pie" class="footer py-1" xmlns:th="http://www.w3.org/1999/xhtml"> <!-- fixed-bottom -->
    <div class="container-footer ">
        <div class="row" id="footerContenedor">
            <div class="col-2 d-flex text-left">
                <p class="float-start d-inline">Universidad de La Rioja</p>
            </div>
            <div class="col-5 px-0"></div>
            <div class="col-3 px-0" id="licenciaAutores">
                <p>Esther Gargallo Ibort y Edurne Chocarro de Luis (2022)</p>
            </div>
            <div class="col-1 d-flex flex-nowrap align-items-center" id="divCreativeCommons">
                <img src="/images/imagenCreativeCommons.png" class="fotoCreativeCommons">
            </div>
        </div>
    </div>
</footer>