<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="h-100" lang="es">
<head>
  <title>Dossier prácticum</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Universidad de La Rioja" />

  <!-- Colocamos el favicon a nuestra web -->
  <link rel="icon" type="image/jpg" href="/images/logoFavicon.png"/>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- Material Icons CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" />

  <!-- Hojas de estilo CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body class="d-flex flex-column">
<header th:replace="~{general/header :: cabecera}"></header>
<main class="row flex-nowrap container-fluid">
  <div th:replace="~{general/sidebar :: menu-lateral}"></div>
  <div class="col-10 col-sm-9 col-md-9 col-lg-9 col-xl-10 justify-content-center"> <!-- d-flex -->
    <div class="row flex-nowrap flex-column align-items-center" th:if="${dossierFinal == null}" id="divSinDossierFinal">
      <br>
      <div class="col-7">
        <p class="lead text-center">
          <strong><em>Todavía no se ha entregado el dossier final del prácticum.</em></strong>
        </p>
      </div>
      <div sec:authorize="hasAuthority('ROL_ESTUDIANTE')" class="col-4 d-flex justify-content-center">
          <form method="post" enctype="multipart/form-data" th:action="@{dossierFinal/crearDossier}">
            <div class="div_file d-flex botonSubirDossier">
              <a title="Subir dossier final del prácticum" class="btn btn-primary w-100 textoBoton" role="button">
                Entregar dossier final
              </a>
              <input type="file" name="docuDossier" class="subidaDossierFinal" accept="application/pdf">
            </div>
          </form>
      </div>
      <br>
      <div class="col-8">
        <p class="text-center parrafos">
          <strong><em>* Advertencia:</em></strong> Antes de entregar el documento revisa los aspectos que debe contener el dossier en la pregunta 7 de la sección <i>Información</i> del menú lateral. Asimismo, ten en cuenta la rúbrica del tutor de la UR a través de la cual se evaluará tu informe final.
        </p>
      </div>
    </div>
    <div class="row flex-nowrap flex-column align-items-center" th:if="${dossierFinal != null}">
      <div class="col-11 justify-content-center align-items-center">
          <div th:attr="class = ${urlFlecha} ? 'd-flex row-auto flex-nowrap justify-content-between align-items-center' : 'd-flex row-auto flex-nowrap justify-content-center align-items-center'">
              <div class="col-10 d-flex flex-column justify-content-center" id="contenedorTituloEntregaActividad">
                <h2 th:if="${estudiante==null}" class="fw-bold my-3 mx-1 text-center" th:text="'Dossier final del prácticum'"></h2>
                <h2 th:if="${estudiante!=null}" class="fw-bold my-3 mx-1 text-center" th:text="'Dossier final entregado por '+${estudiante.nombreCompletoOrdenado}"></h2>
                <p th:if="${estudiante==null}" class="text-center txtInformativo">Su dossier ya ha sido entregado. </p>
              </div>
              <div sec:authorize="hasAnyAuthority('ROL_TUTOR_UR', 'ROL_TUTOR_CENTRO')" class="col-1 d-flex justify-content-end">
                <a th:href="@{${urlFlecha}}"><span id="flechaAtras" class="material-icons text-dangerous" aria-hidden="true">keyboard_return</span></a>
              </div>
          </div>
          <div class="d-flex row flex-nowrap container-fluid" id="cajaDtosEntrega">
              <div class="col-8 my-2 cajaDocumento">
                <embed id="embedDocumento" th:attr="src=${rutaDocu}" type="application/pdf"/>
                <p><i class="d-flex align-items-end fechEntrega" th:text="'Fecha de entrega: '+${fechaEntrega}"></i></p>
              </div>
              <div class="col-5 d-flex flex-column justify-content-start cajaFeedback">
                <div class="d-flex flex-row mx-2 my-2 flex-nowrap align-items-center justify-content-start">
                  <h5><i id="txtFeedbackTutor">Feedback del tutor de UR:</i></h5>
                  <a href="/rubricaTutorUR" id="btnInfoConsultaDossier" class="nav-link px-1 ms-sm-1" title="Consulta rúbrica tutor UR">
                    <span class="material-icons text-secondary iconos iconosTabla" aria-hidden="true">info</span>
                  </a>
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <div>
                    <form method="post" th:action="@{/dossierAlumnado/consultarDossierFinal/nuevoComentario/{id}(id=${idEstudiante})}">
                      <div class="form-group">
                        <textarea class="form-control mx-3" name="feedbackTutor" id="feedbackTutor" rows="4" th:text="${feedbackTutor}" placeholder="No hay ningún comentario registrado."></textarea>
                        <label class="mx-2 fechPublicacionComentario" th:if="${feedbackTutor!=null}"><i th:text="'Fecha de publicación: '+${fechaFeedback}"></i></label>
                      </div>
                      <div sec:authorize="hasAuthority('ROL_TUTOR_UR')" th:if="${feedbackTutor==null}" class=" gap-1 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mt-2 mb-2" id="btnNuevoComentario">Incluir comentario</button>
                        <a href="javascript:history.back()" class="btn btn-outline-primary mt-2 mb-2 textoBoton" role="button">Cancelar</a>
                      </div>
                    </form>
                  </div>
                  <div th:if="${feedbackTutor!=null}" sec:authorize="hasAuthority('ROL_ESTUDIANTE')" class="d-flex flex-row">
                    <p class="mx-2 my-2 text-center txtInformativo">Subir nuevo documento: </p>
                    <form th:if="${feedbackTutor!=null}" method="post" enctype="multipart/form-data" th:action="@{dossierFinal/modificarDossier}">
                      <div class="div_file" id="iconoSubidaDocu">
                        <a title="Modificar dossier final del prácticum" class="enlaceDossier">
                          <span class="material-icons iconosTabla" id="iconoSubirDocu" aria-hidden="true">upload</span>
                        </a>
                        <input type="file" name="docuDossier" class="subidaDossierFinal" accept="application/pdf">
                      </div>
                      <input type="hidden" name="idDossier" th:value="${dossierFinal.id}">
                    </form>
                  </div>
                  <div th:if="${posibleCalificacion}" sec:authorize="hasAnyAuthority('ROL_TUTOR_UR', 'ROL_TUTOR_CENTRO')" id="contenedorPosibleCalificacion" class="d-flex flex-row mx-2 my-2 flex-nowrap align-items-center justify-content-start">
                    <p class="text-start txtInformativo">Evaluar prácticum del alumno:</p>
                    <a th:href="@{/calificacion/evaluacionAlumnado/{id}(id=${idEstudiante})}" class="nav-link px-1 ms-sm-1" title="Evaluar practicum del alumno">
                      <span class="material-icons iconos iconosTabla" aria-hidden="true">check_box</span>
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="~{general/footer :: pie}"></footer>
</body>
<!-- Hojas de JavaScript -->
<script src="/js/expandir_menu.js"></script>
<script type="text/javascript" src="/js/funcionesConsultaDossier.js"></script>
</html>

