<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="h-100" lang="es">
<head>
  <title>Rúbrica de evaluación</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Universidad de La Rioja" />

  <!-- Colocamos el favicon a nuestra web -->
  <link rel="icon" type="image/jpg" href="/images/logoFavicon.png"/>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- Material Icons CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" />

  <!-- Hojas de estilo CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

  <!-- jQuery library -->
  <script th:if="${valorarRubrica==true}" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

  <!-- html2canvas library -->
  <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- jsPDF library -->
  <!--<script th:if="${valorarRubrica==true}" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>-->

</head>
<body class="d-flex flex-column">
<header th:replace="~{general/header :: cabecera}"></header>
<main class="row flex-nowrap container-fluid">
  <div th:replace="~{general/sidebar :: menu-lateral}"></div>
  <div class="col-10 col-sm-9 col-md-9 col-lg-9 col-xl-10 justify-content-center" id="contenedorEvaluacion">
      <div class="d-flex justify-content-center align-items-center flex-row flex-nowrap"> <!-- row-auto row-xl-10 -->
          <div class="col-10 d-flex flex-column justify-content-center"> <!-- col-auto px-sm-2 px-2 -->
              <h2 th:text="'Rúbrica de evaluación del '+${tipoTutor}" class="fw-bold my-4 mx-1 align-items-center text-center" id="h2TituloPagRubrica"></h2>
          </div>
          <div th:if="${urlFlecha}" class="col-1 d-flex justify-content-end">
              <a th:href="@{${urlFlecha}}"><span id="flechaAtras" class="material-icons text-dangerous" aria-hidden="true">keyboard_return</span></a>
          </div>
          <div sec:authorize="hasAuthority('ROL_COORDINADOR')" class="col-auto mt-3 d-flex align-items-end flex-column">
              <form th:action="${tipoTutor}=='tutor del centro educativo' ? '/rubricaTutorCentro' : '/rubricaTutorUR'" method="post" id="filtroGrado">
                  <div class="d-flex flex-row">
                      <div class="d-flex align-items-center">
                          <label for="gradoFiltrado"><strong><i>Grado: </i></strong></label>
                      </div>
                      <div class="mx-1">
                          <select class="form-select" id="gradoFiltrado" name="gradoFiltrado">
                              <option th:selected="${gradoSeleccionado==0}" value="0">-</option>
                              <option th:each="grado: ${grados}" th:value="${grado.id}" th:text="${grado.nombre}" th:selected="${gradoSeleccionado}==${grado.id}"></option>
                          </select>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <form th:action="@{/evaluacionAlumnado}" method="post" id="formularioEvaluacion">
        <div class="d-flex justify-content-center">
          <div th:if="${valorarRubrica}" class="col-11 d-flex flex-nowrap flex-row justify-content-around my-3" id="cajaDtosAlumRubrica">
            <div class="col-3 px-2">
              <label for="nombreAlum">Nombre alumno : </label>
              <input type="text" class="form-control cajaTextoForm" id="nombreAlum" th:value="${nombreEstud}" readonly disabled>
            </div>
            <div class="col-3 px-2">
              <label for="grado">Grado : </label>
              <input type="text" class="form-control cajaTextoForm" id="grado" th:value="${gradoAlum}" readonly disabled>
            </div>
            <div class="col-3 px-2">
              <label for="mencion">Mención : </label>
              <input type="text" class="form-control cajaTextoForm" id="mencion" th:value="${mencionAlum}" readonly disabled>
            </div>
            <input type="hidden" name="idEstudEvaluado" th:value="${idEstud}">
          </div>
        </div>
        <div class="row d-flex justify-content-start">
           <div class="col-10" id="cajaRubrica">
            <table class="table" id="tabla_rubrica">
              <thead class="thead-dark">
              <tr>
                <th rowspan="2" width="10%" style="background-color: white; color: black;" valign="middle" class="cajaBlancaRubrica">
                  <p class="parrafoCelda text-center" align="center">ACTITUD PERSONAL</p></th>
                <th colspan="5" width="90%" align="center">
                  <h6 align="center" class="tituloCeldaRubrica">CALIFICACIÓN</h6>
                </th>
              </tr>
              <tr>
                <th class="celdaGrisRubrica" width="22%" valign="center" th:text="${nivel1}"></th>
                <th class="celdaGrisRubrica" width="22%" valign="center" th:text="${nivel2}"></th>
                <th class="celdaGrisRubrica" width="22%" valign="center" th:text="${nivel3}"></th>
                <th class="celdaGrisRubrica" width="22%" valign="center" th:text="${nivel4}"></th>
                <th class="celdaGrisRubrica" width="2%" rowspan="2" text-align="center" valign="middle">Calificación (0 a 10)</th>
              </tr>
              <tr>
                <th>
                  <h6 align="center" class="tituloCeldaRubrica">CRITERIOS EVALUABLES</h6>
                </th>
                <th colspan="4" valign="middle">
                  <h6 align="center" class="tituloCeldaRubrica">INDICADORES</h6>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="criterio,iterador : ${criterios}" th:attr="class=${iterador.index==2 || iterador.index==6} ? 'saltoPagina' : ''">
                <td style="background-color: #990000; color: white;" class="porcentajeCriterio" width="10%"  valign="middle" align="center" th:text="${criterio.nombre}+' ('+${pesosCriterios[iterador.index].porcentaje}+'%)'"></td>
                <td style="background-color: white; border: black 1px solid;" th:each="indicador : ${criterio.indicadores}" width="22%" align="center" class="tdIndicador" th:text="${indicador.descripcion}"></td>
                <td class="tdIndicador celdaNota" width="2%"  valign="middle">
                  <input th:if="${valorarRubrica}" type="text" class="inputNota" style="background-color: #eaebec;" size="6" th:name="'nota_'+${criterio.id}">
                </td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td width="79%" colspan="4" style="border: white 1px solid;"></td>
                <td width="19%" align="center" class="celdaGrisRubrica tdIndicador"><strong>NOTA MEDIA</strong></td>
                <td width="2%" class="celdaGrisRubrica tdIndicador">
                  <input th:if="${valorarRubrica}" class="inputNotaMedia d-flex align-items-center justify-content-center" type="text" size="6" name="notaMedia" value="0.0">
                </td>
               </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div th:if="${valorarRubrica}" class="row d-flex justify-content-center">
          <div class="col-9 mx-2" id="divAviso">
            <p class=" lead text-center parrafos text-danger"><i><strong>Para poder confirmar la evaluación es necesario haber rellenado previamente la nota correspondiente a cada uno de los criterios recogidos en la rúbrica anterior.</strong></i></p>
          </div>
        </div>
        <div th:if="${valorarRubrica}"  class="gap-4 d-flex justify-content-center" id="botonesConfirmarEvaluacion">
          <button type="submit" class="btn btn-primary mt-2 mb-2 disabled" id="btnConfirmarEvaluacion">Confirmar evaluación</button>
          <a href="javascript:history.back()" class="btn btn-outline-primary mt-2 mb-2 textoBoton" role="button">Cancelar</a>
        </div>
        </br>
      </form>
  </div>
</main>
<footer th:replace="~{general/footer :: pie}"></footer>
</body>
<!-- Hojas de JavaScript -->
<script th:if="${valorarRubrica==false}" src="js/expandir_menu.js"></script>
<script th:if="${valorarRubrica==true}" src="../../js/expandir_menu.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->

<script th:if="${valorarRubrica==true}" src="../../js/calificacionPDF.js"></script>
<!-- Script para funcion de filtro de caso COORDINADOR -->
<script th:if="${valorarRubrica==false}" src="js/envioFiltro.js"></script>
</html>

