<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" class="h-100" lang="es">
<head>
  <title>Calificación prácticum</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Universidad de La Rioja" />

  <!-- Colocamos el favicon a nuestra web -->
  <link rel="icon" type="image/jpg" href="/images/logoFavicon.png"/>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- Material Icons CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" />

  <!-- Hojas de estilo CSS -->
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body class="d-flex flex-column">
<header th:replace="~{general/header :: cabecera}"></header>
<main class="row container-fluid">
  <div th:replace="~{general/sidebar :: menu-lateral}"></div>
  <div class="col-10 col-sm-9 col-md-9 col-lg-9 col-xl-10 justify-content-center">
    <div class="row-auto row-xl-10">
      <div sec:authorize="hasAnyAuthority('ROL_COORDINADOR')" class="col-12 d-flex justify-content-end mt-2">
        <a th:href="@{${urlFlecha}}"><span id="flechaAtras" class="material-icons text-dangerous" aria-hidden="true">keyboard_return</span></a>
      </div>
      <h2 class="fw-bold my-4 mx-1 align-items-center text-center" th:text="${nombreAlumn}? 'Evaluación final del prácticum de grado obtenida por '+${nombreAlumn} : 'Evaluación final del prácticum de grado'"></h2>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <div th:if="${fechNotaTutorUR==null} or ${fechNotaTutorCentroGeneralista==null} or ${fechNotaTutorCentroMencion==null}">
        <p class="lead text-center text-danger" id="sinCompletarEvaluacion">
          <strong><em>Todavía no se ha completado la evaluación del prácticum.</em></strong>
        </p>
      </div>
      <form class="formularioCalificacion">
        <div class="divNotasParciales">
          <div class="form-group col-5 d-flex flex-row align-items-center mx-3 divNotaTutorCentro">
            <div class="text-center mx-2">
              <h5 class="h5NotaTutor"><i>Nota tutor/res de centro: </i></h5>
            </div>
            <div th:if="${variosTutores} == false" class="col-4">
              <input type="text" class="form-control cajaTextoCalificacion" th:attr="placeholder=${fechNotaTutorCentroGeneralista==null} ? '0.0'" th:value="${fechNotaTutorCentroGeneralista!=null} ? ${notaTutorCentroGeneralista}">
            </div>
            <div th:if="${variosTutores} == true" class="d-flex flex-column">
              <div class="d-flex flex-row my-2">
                <div class="col-6 mx-1">
                  <input type="text" class="form-control cajaTextoCalificacion" th:attr="placeholder=${fechNotaTutorCentroGeneralista==null} ? '0.0'" th:value="${fechNotaTutorCentroGeneralista!=null} ? ${notaTutorCentroGeneralista}">
                </div>
                <div class="col-6 alig-items-center mx-1">
                  <p class="parrafos"><i>(generalista)</i></p>
                </div>
              </div>
              <div class="d-flex flex-row my-2">
                <div class="col-6 mx-1">
                  <input type="text" class="form-control cajaTextoCalificacion" th:attr="placeholder=${fechNotaTutorCentroMencion==null} ? '0.0'" th:value="${fechNotaTutorCentroMencion!=null} ? ${notaTutorCentroMencion}">
                </div>
                <div class="col-6 alig-items-center mx-1">
                  <p class="parrafos"><i>(mencion)</i></p>
                </div>
              </div>
            </div>
          </div>
          <hr width="1" size="60" id="separadorNotasParciales">
          <div class="form-group col-5 d-flex flex-row align-items-center mx-3">
            <div class="text-center mx-2">
              <h5 class="h5NotaTutor"><i>Nota tutor UR: </i></h5>
            </div>
            <div class="col-4">
              <input type="text" class="form-control cajaTextoCalificacion" th:attr="placeholder=${fechNotaTutorUR==null} ? '0.0'" th:value="${fechNotaTutorUR!=null} ? ${notaTutorUR}" >
            </div>
          </div>
        </div>
        <div class="form-group d-flex flex-column align-items-center justify-content-center mx-3 my-3 py-1" id="cajaNotaFinal">
          <div class="text-center mx-2">
            <h4><i>NOTA FINAL PRÁCTICUM: </i></h4>
          </div>
          <div th:if="${variosTutores} == false" class="my-3 col-2">
            <input type="text" class="form-control cajaTextoCalificacionFinal" th:attr="placeholder=${fechNotaFinal==null} ? '0.0'" th:value="${fechNotaFinal!=null} ? ${notaFinal}">
          </div>
          <div th:if="${variosTutores} == true" class="d-flex flex-column">
            <div class="d-flex flex-row my-2">
              <div class="col-6 mx-1">
                <input type="text" class="form-control cajaTextoCalificacionFinal" th:attr="placeholder=${fechNotaFinal==null} ? '0.0'" th:value="${fechNotaFinal!=null} ? ${notaFinal}">
              </div>
              <div class="col-6 text-center mx-1">
                <p class="especialidadNotaFinal"><i>(generalista)</i></p>
              </div>
            </div>
            <div class="d-flex flex-row my-2">
              <div class="col-6 mx-1">
                <input type="text" class="form-control cajaTextoCalificacionFinal" th:attr="placeholder=${fechNotaFinalMencion==null} ? '0.0'" th:value="${fechNotaFinalMencion!=null} ? ${notaFinalMencion}">
              </div>
              <div class="col-6 text-center mx-1">
                <p class="especialidadNotaFinal"><i>(mencion)</i></p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
<footer th:replace="~{general/footer :: pie}"></footer>
</body>
<!-- Hojas de JavaScript -->
<script src="/js/expandir_menu.js"></script>
</html>

